{% extends "layout.html" %}
{% block body %}
    <h1>registers</h1>
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>sport</th>
            </tr>
        </thead>
        <tbody>
            <!-- 遍历每个注册者 -->
            {% for name in registrants %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ registrants[name] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
